  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Login {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
  }
  
  .Login h2 {
    margin-bottom: 3px;
  }
  
  .forgotPass {
    display: inline-block;
    font-size: small;
    float: right;
    color:#0069d9;
    cursor: pointer;
  }
  
  .Login input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .Login button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
  }
  
  .Login button:hover {
    background-color: #0069d9;
  }
  
  .signup p {
    margin-top: 20px;
    font-size: 14px;
    color: #0069d9;
    text-align: center;
    cursor: pointer;
  }

  .signup p:hover {
    text-decoration: underline;
  }
  