.light{
  background: rgb(255, 250, 241);
}

.dark{
  background: rgb(35, 35, 35);
  color: white;
}

.header-item {
  width: 100%;
  height: 3rem;
  background:rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1px solid white;
}

.header-item span {
  margin: 0px 20px;
}

.header-item a {
  color: white;
  text-decoration: none;
}

.header-item a:hover,
.header-item a:active,
.header-item a.active {
  border-bottom: 2px solid rgb(42, 223, 255);
  padding: 2px 0px;
  border-radius: 5px;
}

.logout{
  cursor: pointer;
  color: white;
}

.logout:hover{
  color: red;
}

@media screen and (max-width:600px){  
.header-item {
  width: 100%;
  height: 2rem;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid white;
}

.header-item span {
  margin: 0px 20px;
}
}