  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .Login {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .Login h2 {
    display: flex;
    float: left;
    margin-bottom: 20px;
  }

  .forgotPass {
    display: flex;
    font-size:small;
    float: right;
    margin-top: 25px;
    color: rgb(137, 0, 190);
    cursor: pointer;
  }

  .Login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .Login button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(137, 0, 190);
    color: #fff;
    cursor: pointer;
  }
  
  .Login button:hover {
    background-color: #0069d9;
  }
  
  .signup p {
    margin-top: 20px;
    font-size: 14px;
    color: rgb(137, 0, 190);
    text-decoration: underline;
    cursor: pointer;
  }  