.expense span {
  display: flex;
  padding: 0px 20px; 
  align-items: center;
  justify-content: space-between;
}

.expense span button {
  padding: 10px 25px; 
  border: 2px solid red;
  margin: 10px;
  transition: 0.5s;
  font-size: 14px; 
  border-radius: 10px;
  color: red;
  background: none;
}

.expense span button:hover {
  border-radius: 40px;
  background: red;
  color: white;
}

.expense form {
  margin-left: 20px;
  text-align: left;
}

.expense form label {
  font-size: 18px;
  color: rgb(62, 62, 62);
  font-weight: bold;
}

.expense form input {
  width: 80%; 
  margin: 10px 5px; 
  font-size: 14px;
  color: rgb(62, 62, 62);
  font-weight: bold;
  padding: 8px 8px;
  border-radius: 20px;
  border: 2px solid rgb(137, 0, 190);
}

.expense form input:hover {
  background: rgb(202, 231, 255);
}

.expense form button {
  padding: 12px 30px;
  border: none;
  margin-left: 50px auto;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background-color: rgb(17, 139, 226);
}

.expense form button:hover {
  border-radius: 40px;
}

/* Media query for smaller screens */
@media screen and (max-width: 700px) {
  h2{
    font-size: medium;
  }
  .expense span {
    padding: 0px 10px; 
  }

  .expense span button {
    font-size: 12px;
  }

  .expense form {
    margin-left: 10px; 
  }

  .expense form label {
    font-size: 16px;
  }

  .expense form input {
    width: 70%; 
    font-size: 12px;
    padding: 6px 6px;
  }

  .expense form button {
    padding: 10px 20px;
    margin-left: 30px auto; 
  }
}
