.expenseBtn {
    width: 8rem;
    margin-top: 1rem;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgb(137, 0, 190);
    color: #fff;
    cursor: pointer;
  }

  .totalAmount {
    display: flex;
    font-weight: bold;
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
  }
  
  .totalAmount button {
    border: 2px solid rgb(146, 0, 195);
    color: purple;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 10px;
    border-radius: 20px;
    background: none;
    cursor: pointer;
  }
  
  .totalAmount button:hover {
    background: rgb(146, 0, 195);
    color: white;
  }