.getForm {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}

.darkgetForm {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}

.darkgetForm button{
  padding: 15px 50px;
  border: none;
  margin-top: 10px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background: rgb(66, 0, 172);
}

.getForm button {
  padding: 15px 50px;
  border: none;
  margin-top: 20px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background:rgb(95, 215, 255);
}

.getForm button:hover {
  border-radius: 40px;
}

.getForm button {
  padding: 15px 50px;
  border: none;
  margin-top: 10px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background: rgb(138, 9, 245);
}

.getForm button:hover {
  border-radius: 40px;
}
 
.getForm span {
  transition: 1s;
  position: relative;
  transform: translate(-50%, -50%);
}

.expenseList {
  padding: 0px 20px;
  font-size: 20px;
}

.expenseList span {
  padding: 10px 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  justify-content: space-between;
}


.footer span {  
  font-weight: bold;
  padding: 10px 40px;
  margin-left: 330px;
}

.footer button {
  border: 2px solid purple;
  color: purple;
  font-weight: bold;
  padding: 10px 40px;
  margin-right: 370px;
  border-radius: 20px;
  background: none;
  cursor: pointer;
}

.footer button:hover {
  background: purple;
  color: white;
}

.topper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.darktopper{
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.darktopper button{
  border: 1px solid white;
  color: white;
  padding: 10px 40px;
  margin: 0px 5px;
  border-radius: 20px;
  background: none;
}

.darktopper button:hover{
  background: white;
  color: black;
}

.topper button {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 10px 40px;
  margin-left: 280px;
  border-radius: 20px;
  background: none;
}

.topper button:hover {
  background: rgb(0, 0, 0);
  color: white;
}

@media screen and (max-width: 700px){
  .topper button {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 40px;
    margin-left: 65px;
    border-radius: 20px;
    background: none;
  }
  
.darktopper button{
  border: 1px solid white;
  color: white;
  padding: 10px 40px;
  margin-left: 65px;
  border-radius: 20px;
  background: none;
}


.footer span {  
  font-size: medium;
  font-weight: bold;
  padding: 10px 40px;
  margin-left: 10px;
}

.footer button {
  border: 2px solid purple;
  color: purple;
  font-weight: bold;
  padding: 10px 40px;
  margin-right: 80px;
  border-radius: 20px;
  background: none;
  cursor: pointer;
}

}