.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 80px;
  background-color: aliceblue;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.list h2 {
  flex: 1;
  color: #050505;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  
.list h3 {
  flex: 1;
  color: #5c5c5c;
  flex: 1;
}

.list p {
  flex: 1;
  font-size: 1.5rem;
  font-weight: bold;
  color: #20d61a;
  margin: 10px;
}

.list .btn {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.list .updateBtn,
.list .dtlBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.list .updateBtn {
  background-color: #0069d9;
  color: white;
}

.list .updateBtn:hover {
  background-color: #005cbf;
}

.list .dtlBtn {
  background-color: #dc3545;
  color: white;
}

.list .dtlBtn:hover {
  background-color: #c82333;
}

.darkList {
  background-color: #333;
  color: white;
  border: 1px solid #666;
}

.darkList h2 {
  color: white;
}

.darkList h3 {
  color: #ccc;
}

.darkList p {
  color: #20d61a;
}

.darkList .updateBtn,
.darkList .dtlBtn {
  background-color: #005cbf;
}

.darkList .updateBtn:hover {
  background-color: #0069d9;
}

.darkList .dtlBtn {
  background-color: #c82333;
}

.darkList .dtlBtn:hover {
  background-color: #dc3545;
}

@media (max-width: 768px) {
  .list {
    margin: 10px 10px;
  }
  .list h2,
  .list h3,
  .list p {
    font-size: 0.9rem;
  }

  .list .updateBtn,
  .list .dtlBtn {
    padding: 8px 10px;
    font-size: 0.6rem;
  }
}
