.getForm {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}

.darkgetForm {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}

.darkgetForm button {
  padding: 15px 50px;
  border: none;
  margin-top: 10px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background: #0069d9;
}

.getForm button {
  padding: 15px 50px;
  border: none;
  margin-top: 20px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background: #0069d9;
}

.getForm button:hover {
  border-radius: 40px;
}

.getForm button {
  padding: 15px 50px;
  border: none;
  margin-top: 10px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background: #0069d9;
}

.getForm button:hover {
  border-radius: 40px;
}

.getForm span {
  transition: 1s;
  position: relative;
  transform: translate(-50%, -50%);
}

.expenseList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.expenseList span {
  padding: 10px 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}

.totalAmountCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: aliceblue;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.totalAmount {
  font-weight: bold;
  font-size: 18px;
}

.totalAmountCard button {
  border: 1px solid white;
  color: white;
  padding: 10px 40px;
  margin: 10px;
  border-radius: 20px;
  background: black;
}

.totalAmountCard button:hover {
  background: rgb(45, 116, 181);
}

.topper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}

.darktopper {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  background-color: white;
}

.topper button {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  border-radius: 20px;
  background: bisque;
}

.darktopper button {
  border: 1px solid white;
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  border-radius: 20px;
  background: bisque;
}

.darktopper button:hover {
  background: white;
  color: black;
}

.topper button:hover {
  background:bisque;
  color: white;
}

@media (max-width: 720px) {
  .expenseList {
    margin-right: 4rem;
  }

  .expenseList span {
    padding: 10px 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
  }

  .topper button {
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    margin-left: 15px;
    border-radius: 20px;
    background: none;
  }

  .darktopper button {
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    margin-left: 15px;
    border-radius: 20px;
    background: none;
  }

  .totalAmountCard {
    flex-direction: column;
    padding: 15px;
  }

  .totalAmount {
    margin-top: 10px;
    font-size: 16px;
  }
}
