.getForm {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}

.darkgetForm {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}

.darkgetForm button {
  padding: 15px 50px;
  border: none;
  margin-top: 10px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background: #0069d9;
}

.getForm button {
  padding: 15px 50px;
  border: none;
  margin-top: 20px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background: #0069d9;
}

.getForm button:hover {
  border-radius: 40px;
}

.getForm button {
  padding: 15px 50px;
  border: none;
  margin-top: 10px;
  transition: 0.5s;
  border-radius: 10px;
  color: white;
  background: #0069d9;
}

.getForm button:hover {
  border-radius: 40px;
}

.getForm span {
  transition: 1s;
  position: relative;
  transform: translate(-50%, -50%);
}

.expenseList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.expenseList span {
  padding: 10px 30px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 30px;
}

.totalAmountCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: aliceblue;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 20px 80px;
}

.totalAmount {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  color: #ffffff;
}

.totalAmountCard button {
  padding: 10px 40px;
  margin-left: 10px;
  color: white;
  background: black;
  border: 1px solid white;
  border-radius: 20px;
}

.totalAmountCard button:hover {
  background: rgb(45, 116, 181);
}

.topper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.darktopper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.topper button,
.darktopper button {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 10px 30px;
  border-radius: 20px;
  background: rgb(60, 159, 251);
  margin-left: auto;
  margin-right: 10px;
}

.topper button:hover,
.darktopper button:hover {
  background: rgb(11, 130, 249);
}

@media (max-width: 720px) {
  .expenseList {
    margin-right: 4rem;
  }

  .expenseList span {
    padding: 10px 30px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
  }

  .totalAmountCard {
    flex-direction: column;
    padding: 20px;
    margin: 20px 10px;
  }

  .totalAmount {
    margin: 10px;
    font-size: 15px;
  }

  .topper button,
  .darktopper button {
    padding: 10px 60px;
    margin-right: 20px;  
  }
}
